<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @{

        //for (int i = 0; i < 100; i++)
        //{




        //}



    }
    <h3>Basic Asp.net Core Tutorials</h3><br>



    <a href="product/getproducts">Get Product</a><br><br><br><br>

    &nbsp;&nbsp;&nbsp;&nbsp; <h4>Created by Erry Carlmicheal</h4>

</body>
</html>